<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta name="format-detection" content="telphone=no, email=no">
		{{#unless isDev}}
		<link rel="stylesheet" type="text/css" media="all" href="{{manifest.[vendors.css]}}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{manifest.[app.css]}}" />
		{{/unless}}
		<title>Seneca Map</title>
	</head>

	<body>
		<div id="root" hostname="{{hostname}}" port="{{port}}"></div>

		{{!-- {{#each subservers}}
			<p>{{this.host}}:{{this.port}} [{{this.sname}}]</p>
			{{else}}
			<p>no data</p>
		{{/each}} --}}

		{{#if isDev}}
		<script type='text/javascript' src="/public/static/app.js"></script>
		{{else}}
		<script type='text/javascript' src="{{manifest.[runtime.js]}}"></script>
		<script type='text/javascript' src="{{manifest.[vendors.js]}}"></script>
		<script type='text/javascript' src="{{manifest.[app.js]}}"></script>
		{{/if}}

	</body>
</html>
